.text-center{
    background-color:rgb(238, 238, 238) ;
}
header h2{
    color: rgb(170, 170, 170);
    font-size: 40px;
}
h6{
    color: rgb(170, 170, 170);

}
.font{
    font-weight: 700;
}